<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>쿠폰명</th>
                <th>할인율</th>
                <th>일시</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="coupon : ${coupons}">
                <td th:text="${coupon.id}"></td>
                <td th:text="${coupon.couponName}"></td>
                <td th:text="${coupon.discountRate}"></td>
                <td th:text="${coupon.initDate}"></td>
            </tr>
            </tbody>
        </table>

        <nav style="text-align: center;">
            <ul class="pagination justify-content-center"
                th:with="start=${T(Math).floor(coupons.number/10)*10 + 1},
                    last=(${start + 9 < coupons.totalPages ? start + 9 : coupons.totalPages})">

                <li class="page-item" >
                    <a class="page-link" th:href="@{/coupons(page=0)}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" th:href="${coupons.first} ? '#' :@{/coupons(page=${coupons.number - 1})}" aria-label="Previous" >
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == coupons.number + 1} ? 'page-item active'">
                    <a class="page-link" th:text="${page}" th:href="@{/coupons(page=${page - 1})}"></a>
                </li>

                <li class="page-item" th:class="${coupons.last} ? 'disabled'">
                    <a class="page-link" th:href="${coupons.last} ? '#' : @{/coupons(page=${coupons.number + 1})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" th:href="@{/coupons(page=${coupons.totalPages - 1})}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="form-row float-right">
            <a class="btn btn-lg btn-primary" href="/coupon/init">쿠폰 생성</a>
        </div>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>